/* Credentials */

.credentials{
    width: 100%;
    padding: 7em 2.75rem 0em 2.75rem;
    /* border: 2px solid forestgreen; */
    height: 130vh;
}

.cre-header small{
   text-transform: uppercase;
   font-size: 12px;
    font-weight: 900;
    opacity: .5;
}

.cre-header h2{
    font-size: 2.5rem;
    font-weight: 900;
}


.credential-cards{
    /* display: inline-block; */
    /* border: 2px solid red; */
    width: 100%;

}

.cre-card-top{
    width: 100%;
    height: 20em;
    /* border: 2px solid blue; */
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1em 0;
    margin-top: 1em;
}
.cre-card-bottom{
    width: 100%;
    height: 20em;
    /* border: 2px solid yellowgreen; */
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1em 0;
    /* margin-bottom: 4em; */
}


.cre-card{
    display: inline-block;
    /* border: 2px solid green; */
    width: 31%;
    color: #414849;
    /* margin: 0 1rem; */
    background: #feffff;
    padding: 2rem;
    /* margin: ; */
    height: 100%;
    /* margin-bottom: 4em; */

   
}

.cre-card header{
   color: #141818;
   text-transform: capitalize;
   font-size: larger;
   font-weight: 800;
   padding: 1em 0;
}

.cre-card p{
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 1em;
}

.cre-card footer{
    text-decoration: underline;
    color: #414849;
    font-size: 13px;
    font-weight: 900;
    opacity: .6;
    margin-top: 2rem;
}

/* Icons */
.fa {
    color: cyan;
}